<nav class="nav-menu">
    <h2>SharpNinja Admin</h2>
    <ul>
        <li><NavLink href="" Match="NavLinkMatch.All">Dashboard</NavLink></li>
        <li><NavLink href="flags">Flags</NavLink></li>
        <li><NavLink href="flags/create">Create Flag</NavLink></li>
        <li><NavLink href="flags/edit">Edit Flag</NavLink></li>
        <li><NavLink href="flags/publish">Publish</NavLink></li>
        <li><NavLink href="flags/promote">Promote</NavLink></li>
        <li><NavLink href="audit">Audit Trail</NavLink></li>
        <li><NavLink href="metrics">Metrics</NavLink></li>
        <li><NavLink href="rbac">RBAC</NavLink></li>
    </ul>
</nav>
