root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4
csharp_style_namespace_declarations = file_scoped:error
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_diagnostic.IDE0005.severity = warning

[*.{yml,yaml,json,md,props,targets,csproj,sln}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
